.fullboard{
    background-color: wheat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.leftdash{
    background-color: blueviolet;
}

.rightdash{
    background-color: cadetblue;
}



.foot{
    background-color: dodgerblue;
}