*{
    margin: 0;
    padding: 0;
}



.signup{
    width: 100vw;
    height: 100vh;
    background-image: url('./sign.png');
    background-repeat: no-repeat;
    padding-left: 950PX;
}

.btn{
    background-color: dodgerblue;
    color: white;
}

.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 5px;
}

.avatar{
    width : 100px;
    height: 100px;
}


/* .signuppage{
    display: flex;
    height: 100vh;
    /* background-color: darkgoldenrod; */
    /* align-items: center;
    justify-content: center; */
/* }

.signup{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.4;
}

.imagediv{
    display: flex;
    background-color: red;
    flex: 0.6;
} */ 